.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  gap: 3rem;
  padding: 3rem;
  background-color: var(--chakra-colors-primary-900);
  color: #ffffff;
}
.footer_title {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}
.footer h1 {
  margin-bottom: 2rem;
}
.footer p {
  font-size: 13px;
  margin-bottom: 2rem;
}
.footer p {
  font-size: 13px;
  margin-bottom: 2rem;
}
.footer > div > div {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 10px;
}
@media (max-width: 900px) {
  .footer {
    padding: 1rem;
  }
}
