.cTitle {
  font-size: 30px;
  font-weight: bold;
  color: var(--chakra-colors-primary-400);
}
.product_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  gap: 1rem;
  margin: 1rem auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 2px var(--chakra-colors-black-100);
}
.product_title {
  font-size: 20px;
  font-weight: 500;
  color: var(--chakra-colors-primary-900);
}
.product_description {
  font-size: 14px;
  font-weight: 300;
  color: var(--chakra-colors-primary-900);
}
.product_card > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}
.more_button {
  padding: 5px 10px;
  border: 3px solid #e4af3e;
  border-radius: 5px;
  background-color: #ca9a32;
}
.more_button:hover {
  background-color: #cfaf68;
}
@media (max-width: 800px) {
  .product_card_list > div {
    gap: 1rem;
  }
}
@media (max-width: 900px) {
  .image {
    height: 100%;
  }
}
